*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    height:100vh;
    background-image:url("0f0b316b-d827-490d-ba3f-16f4c56702de.jpeg");
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    animation:cambiarFondo 25s infinite;
}

.overlay{
    position:fixed;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.45);
}

.contenido{
    position:relative;
    z-index:2;
    text-align:center;
    color:white;
    padding:20px;
}

h1{
    font-size:2.5rem;
    margin-bottom:10px;
}

.fecha{
    margin-bottom:30px;
    font-size:1.1rem;
}

#contador{
    display:flex;
    gap:15px;
    justify-content:center;
    flex-wrap:wrap;
}

.caja{
    background:rgba(255,255,255,.15);
    backdrop-filter:blur(10px);
    padding:18px;
    border-radius:18px;
    min-width:90px;
}

.caja span{
    font-size:2rem;
    font-weight:bold;
}

.caja p{
    margin-top:8px;
}

button{
    margin-top:35px;
    padding:14px 28px;
    border:none;
    border-radius:30px;
    background:#ff4d88;
    color:white;
    font-size:16px;
    cursor:pointer;
}

button:hover{
    transform:scale(1.05);
}

@keyframes cambiarFondo{

0%{background-image:url("0f0b316b-d827-490d-ba3f-16f4c56702de.jpeg");}

20%{background-image:url("7ef0b7f0-43ab-4f0c-baaa-c66a5c5331c6.jpeg");}

40%{background-image:url("IMG_1644.jpeg");}

60%{background-image:url("IMG_2177.jpeg");}

80%{background-image:url("IMG_2370.jpeg");}

100%{background-image:url("0f0b316b-d827-490d-ba3f-16f4c56702de.jpeg");}

}
